__pycache__/*
checkpoints/*
data/*
PCT_Pytorch/*
wandb/*
*.out
best_models/*
multirun/*
outputs/*
lightning_logs/*
datasets/__pycache__/*
Adapt_reloaded/*
debug.py
debug.ipynb
point_transformer_cls.py
sweepconfig.yaml
*.png
